@import "tailwindcss";
@plugin "daisyui";

.title-1 {

    position: relative;
    animation-name: title1;
    animation-duration: 3s;
    margin: 0;
    text-shadow: 2px 5px 10px black;

}

.title-2 {

    position: relative;
    animation-name: title2;
    animation-duration: 2s;
    margin: 0;
    text-shadow: 2px 5px 10px black;

}

.para {

    position: relative;
    animation-name: paragraph;
    animation-duration: 1.7s;
    margin: 0;
    text-shadow: 5px 5px 5px black;

}


@keyframes title1 {

    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }

}

@keyframes title2 {

    from {
        bottom: -45px;
        opacity: 0;
    }

    to {
        bottom: 0px;
        opacity: 1;
    }
}

@keyframes paragraph {

    from {
        bottom: -30px;
        opacity: 0;
    }

    to {
        bottom: 0px;
        opacity: 1;
    }
}